include LICENSE
include README.md
recursive-include djangocms_tacc_remote_content/static *
recursive-include djangocms_tacc_remote_content/templates *
recursive-include djangocms_tacc_remote_content/migrations *
